

    .name {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }

    .profession {
        color: white;
    }

    .scheduleBtn {
        background: transparent;
        color: #eebd22;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #eebd22;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.bio {
    background: black;
    width: 1200px;
    margin: 25px auto;
    box-sizing: border-box;
    padding: 25px;

    .title {
        color: #f26d7d;
        font-size: 18px;
    }

    .bioContent {
        color: white;
        padding: 10px 0;
        font-weight: lighter;
    }
