.nav{
    width: 300px;
    background: #323544;
    height: 100%;
    float: left;
    // position: absolute;
    // left: 0;
    // top: 0;
    box-sizing: border-box;

    .logo{
        display: block;
        color: white;
        font-size: 20px;
        padding: 10px 15px;
    }

    .tab{
        color: #E2E3E5;
        font-size: 16px;
        display: block;
        padding: 10px 15px;
        transition: 150ms all;
        cursor: pointer;
        box-sizing: border-box;
        width: 100%;

        i{
            font-size: 20px;
            padding-right: 10px;
        }
    }

    .tab:hover{
        background: #1E202C;
    }

    .logout{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}