.page {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px 25px;
    overflow-y: scroll;

    .title {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .addBtn {
        background: #579725;
        border: none;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        display: table;
        margin: 5px 0 25px;
    }

    .label {
        font-size: 14px;
        font-weight: bold;
    }

    .field {
        display: block;
        width: 75%;
        margin-bottom: 25px;
        padding: 5px;
    }

    textarea.field {
        height: 200px;
    }
}

.protile {
    border: 1px solid #ccc;
    margin: 10px 0;
    transition: 100ms all;
    padding: 10px;
    display: block;

    .split {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        height: 100%;
        margin-bottom: 15px;

        .header {
            font-weight: bold;
            font-size: 14px;
        }

        .link {
            color: white;
            border: none;
            box-sizing: border-box;
            padding: 5px 10px;
            font-weight: 200;
            cursor: pointer;
            display: table;

            i{
                padding-right: 10px;
            }
        }
        .link.edit {
            background: rgb(27, 82, 165);
        }

        .link.images {
            background: rgb(13, 104, 19);
        }

        .link.trash{
            background: rgb(33, 33, 33);
        }
    }
}
